body {
	background-image: url('../images/mythical.jpg');
	background-repeat: no-repeat;
}

h1 {
	background-color: orange;
	font-size: 150%;
	font-style: bolder;
	color: white;
	width: 50%;
	margin: 10px;
}

#instructions {
	margin: 10px;
	padding: 5px;
	border-radius: 12px;
	color: yellow;
	background-color: blue;

}

#instructionsText {
	background-color: #fae6ce;
	width:50%;
	color: green;
	margin: 10px;
}

#random {
	width: 100px;
	height: 75px;
	background-color: green;
	margin: 10px;
	font-size: 350%;
	color: white;
	text-align: center;
}

.winLoss {
	background-color: #4afdfe;
	width: 150px;
	margin: 10px;
	/*float: left;*/

}

.crystals {
	float: left;
}
#crystal1, #crystal2, #crystal3, #crystal4 {
	background-color: white;
	width: 75px;
	height: 75px;
	margin: 10px;
	float: left;
}

#crystal1 {
	background-image: url('../images/gem.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#crystal2 {
	background-image: url('../images/sapphire.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#crystal3 {
	background-image: url('../images/amethyst.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#crystal4 {
	background-image: url('../images/gemstone.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#score, #totalScore {
	background-color: #2ca194;
	width: 20%;
	margin: 10px;
}
#score {
	clear: both;
	height: 50px;
	font-size: 200%;
}

#totalScore {
	height: 100px;
	margin: 10px;
	font-size: 350%;
	color: yellow;
	font-weight: bolder;
	text-align: center;
}

