body {
	background-image: url('../images/background.jpg');
}

h1 {
	background-color: orange;
	font-size: 150%;
	font-style: bolder;
	color: white;
	width: 25%;
	margin: 10px;
}

#instructions {
	background-color: #fae6ce;
	width:25%;
	color: green;
	margin: 10px;
}

#random {
	width: 100px;
	height: 40px;
	background-color: green;
	margin: 10px;
	float: left;
}

.winLoss {
	background-color: #4afdfe;
	width: 50px;
	float: left;

}

.container {
	float: left;
}
#crystal1, #crystal2, #crystal3, #crystal4 {
	background-color: white;
	width: 75px;
	height: 75px;
	margin: 10px;
	float: left;
}

#crystal1 {
	background-image: url('../images/gem.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#crystal2 {
	background-image: url('../images/sapphire.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#crystal3 {
	background-image: url('../images/amethyst.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

#crystal4 {
	background-image: url('../images/gemstone.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
#score, #totalScore {
	background-color: #2ca194;
	width: 125px;
	margin: 10px;
}

#totalScore {
	height: 125px;
	margin: 10px;
}

